<h1><%= @weight.category_id %>ランキング</h1>

<table>
  <thead>
    <tr>
      <th>順位</th>
      <th>アイテム名</th>
      <th>説明</th>
      <th>スコア</th>
    </tr>
  </thead>
  <tbody>
    <% @rankings.each_with_index do |ranking, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= ranking.name %></td>
        <td><%= ranking.description %></td>
        <td><%= ranking.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>